body {
    font-size: 16px;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

a:link, a:active, a:hover, a:visited {
    color: #85CD00;
    text-decoration: none;
    font-weight: 600;
}

a:focus, a:hover {
    outline:thin dotted;
}

header {
    position: relative;
    display: block;
    width: 100%;
    height: 3em;
    z-index:2;
    padding-top: 0;
    margin-top: -1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: center;
    color: #85CD00;
    background-color: #B6FF00;
}

section {
    float: left;
    border: 1px solid black;
    margin: 0.25em;
    padding: 0.25em;
    max-width: 75%;
    width: auto;
    height: auto;
}

sidebar {
    margin: 0.25em;
    padding: 0.25em;
    color: black;
    background-color: white;
    float: right;
    width: 20%;
    height: auto;
}

